################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SupermarketWEB
/bin/Debug/net8.0
/obj
