@page
@model SupermarketWEB.Pages.Invoices.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.Id" />

            <div class="form-group">
                <label asp-for="Invoice.CustomerId" class="control-label"></label>
                <select asp-for="Invoice.CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="Invoice.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice.PayModeId" class="control-label"></label>
                <select asp-for="Invoice.PayModeId" class="form-control" asp-items="ViewBag.PayModeId">
                    <option value="">-- Select Pay Mode --</option>
                </select>
                <span asp-validation-for="Invoice.PayModeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice.Date" class="control-label"></label>
                <input asp-for="Invoice.Date" class="form-control" />
                <span asp-validation-for="Invoice.Date" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}