@page "{id:int}"
@model SupermarketWEB.Pages.Users.EditModel

<h1>Edit User</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="User.Email" class="control-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Role" class="control-label"></label>
        <input asp-for="User.Role" class="form-control" />
        <span asp-validation-for="User.Role" class="text-danger"></span>
	</div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="./Index" class="btn btn-secondary ms-2">Cancel</a>
        </div>

</form>
