@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SupermarketWEB</h1>
    <p class="lead">This project was created by Miguel Angel Delgado</p>
    <p>
        GitHub: <a href="https://github.com/saenex/SupermarketWEB" target="_blank">https://github.com/saenex/SupermarketWEB</a>
    </p>
</div>